@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.btn-primary {
  @apply btn text-white bg-gradient-to-r from-orange-400 via-pink-500 to-violet-600 
         shadow-lg hover:scale-105 transform transition;
}


.btn-outline {
  @apply btn btn-outline border-2 border-violet-500 text-violet-500 
         font-semibold rounded-lg transition duration-300;
}