@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));




 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.btn-primary {
  @apply btn text-white bg-gradient-to-r from-orange-400 via-pink-500 to-violet-600 
         shadow-lg hover:scale-105 transform transition;
}


.btn-outline {
  @apply bg-gradient-to-r from-orange-400 via-pink-500 to-violet-600 text-white border-transparent 
         shadow-lg scale-105;
}

.text-gradient {
  @apply bg-gradient-to-r from-orange-400 to-pink-500 text-transparent bg-clip-text;
}
.font-logo{
   font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.inter-font{
   font-family: "Inter", sans-serif;
}
.active{
   text-decoration: underline;
}
